/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  
    @apply py-2 px-4 font-semibold rounded-lg shadow-md;
  }
  .btn-green {
    @apply text-white bg-green-500 hover:bg-green-700;
  }
  .btn-blue {
    @apply text-white bg-blue-500 hover:bg-blue-700;
  }
  .btn-red {
    @apply text-white bg-red-500 hover:bg-red-700;
  }
  @media only screen and  (max-width: 750px){
   .heading {
     margin-left: 80px;
   }
   label {
    margin-left: 120px;
    font-weight: 900;
   }
   .responsive {
    width: 100%;
   }
   .add-btn {
    margin: auto;
    display: flex;
   }
    .mob-btn{
      width: 40%;
      float: right;
    }
    .mob-btn2{
      width: 40%;
      float: left;
    }
    .btnContainer {
      overflow: hidden;
    }
  }

  